body {
  background-color: PaleGreen;
  color: blue;
}

h1{
  color:#800000;
  text-align: center;
}

th, td {
  border:1px solid black;
  padding: 10px;
  text-align: right;
}

p {
  color: purple;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
a{
  text-align: center;
}
